title: Home
subtitle: ""
author:
  name: Wax user
  email: your-email@domain.com
description: >
  Write an awesome description for your new site here. It will appear in your
  document head meta (for Google search results) and in your feed.xml site description.
url: "https://ugl2023.github.io"
baseurl: "/minicomp"

# --------------------------------------------------------------
# COLLECTION SETTINGS
# --------------------------------------------------------------
collections:
  exhibits:
    output: true

  minicomp:
    output: true
    layout: "minicomp_item"
    metadata:
      source: "minicomp.csv"
    images:
      source: "raw_images/minicomp"
    pdf:
      source: "raw_images/minicomp"

# --------------------------------------------------------------
# SEARCH INDEX SETTINGS
# --------------------------------------------------------------
search:
  main:
    index: "/search/index.json"
    collections:
      minicomp:
        content: true
        fields:
          - location
          - author
          - artist
          - label
          - _date
          - object_type
          - Rights
          - language

# --------------------------------------------------------------
# SITE MENU SETTINGS
# --------------------------------------------------------------
menu:
  - label: "Search"
    link: "/search/"

  - label: "Caribbean Research Library"
    sub:
      - label: "Sandbach Tinne"
        link: "/tinne/"
      - label: "Carifesta"
        link: "/carifesta/"
      - label: "A.W.B Long"
        link: "/long/"
      - label: "A.J Seymour"
        link: "/seymour/"
      - label: "Who is Who"
        link: "/who/"
      - label: "Rare Books"
        link: "/rare/"
      - label: "Norman E Cameron"
        link: "/cameron/"
      - label: "Cecil Roth"
        link: "/roth/"
      - label: "Union of Cultural Clubs"
        link: "/clubs/"

  - label: "Reader's Services"
    sub:
      - label: "Law"
        link: "/law/"

  - label: "Exhibits"
    sub:
      - label: "Exhibit Reference"
        link: "/references/"

  - label: "Contact Us"
    link: "/contact-us/"

  - label: "About"
    link: "/about/"
